
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw; 
    height: 100vh;
    
  }
  
  .mini-browser {
    position: relative;
    width: 1200px; 
    height: 700px; /* Set a fixed height for the mini browser */
    border: 6px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #add8e6;
    display: flex; /* Use Flexbox */
  flex-direction: column; /* Arrange children vertically */
  }
  
  .browser-bar {
    position: absolute; /* Set the browser bar to have an absolute position */
  top: 0; /* Position it at the top of the mini browser */
  left: 0; /* Align it to the left of the mini browser */
  width: 100%; /* Make it take the full width of the mini browser */
  z-index: 999; /* Ensure it's above other content */
  background-color: #f1f1f1;
  }
  
  .buttons {
    display: flex;
  }
  
  .button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .close {
    background-color: #ff5f56; 
  }
  
  .minimize {
    background-color: #ffbd2e; 
  }
  
  .maximize {
    background-color: #27c93f; 
  }
  
  .address-bar {
    flex: 1;
    margin-left: 10px;
  }
  
  .address-bar span {
    font-size: 14px;
  }
  
  .browser-content {
    padding-top: 40px;
    overflow-y: auto; /* Allow content to scroll */
    height: calc(100% - 40px); /* Adjust height to fill remaining space */
    
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */

   
  }