
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw; 
    height: 100vh;
    
  }
  
  .mini-browser {
    position: relative;
    width: 1200px; 
    height: 700px; 
    border: 6px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #add8e6;
    display: flex; 
  flex-direction: column; 
  }
  
  .browser-bar {
    position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 999; 
  background-color: #f1f1f1;
  }
  
  .buttons {
    display: flex;
  }
  
  .button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .close {
    background-color: #ff5f56; 
  }
  
  .minimize {
    background-color: #ffbd2e; 
  }
  
  .maximize {
    background-color: #27c93f; 
  }
  
  .address-bar {
    flex: 1;
    margin-left: 10px;
  }
  
  .address-bar span {
    font-size: 14px;
  }
  
  .browser-content {
    padding-top: 40px;
    overflow-y: auto; 
    height: calc(100% - 40px); 
    
    justify-content: center;
    align-items: center; 

   
  }