
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:#dcb991;
    
  }
  
  .mini-browser {
    width: 800px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #add8e6;

  }
  
  .browser-bar {
    display: flex;
    align-items: center;
    padding: 6px;
    background-color: #f1f1f1;
  }
  
  .buttons {
    display: flex;
   
  }
  
  .button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .close {
    background-color: #ff5f56; 
  }
  
  .minimize {
    background-color: #ffbd2e; 
  }
  
  .maximize {
    background-color: #27c93f; 
  }
  
  .address-bar {
    flex: 1;
    margin-left: 10px;
  }
  
  .address-bar span {
    font-size: 14px;
  }
  
  .browser-content {
    padding: 10px;
  }